.shop-container {
  display: grid;
  grid-template-columns: 4fr 1fr;
}
.shop-container .products-wrapper {
  padding-inline: 40px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 40px;
}
.shop-container .order-summary {
  height: 80vh;
  background-color: #ffe0b3;
}
.shop-container .order-summary h2 {
  text-align: center;
  padding-block-start: 20px;
}
.shop-container .order-summary .cart {
  padding-inline: 10px;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.shop-container .order-summary .cart p {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 20px;
  color: rgb(65, 65, 65);
  letter-spacing: 0.005em;
}